section.project-section
    .projects 
        .projects__header 
            h2.projects__title#projects Our&nbsp;Finished Project
            .projects__description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
        .projects__cards 
            a(href="#").projects__card
                div(area-hidden="true").project-card-image__backgroung
                    img(src="img/svg/about-us/project/project1.png" alt="background-image").project-card-image__backgroung-image
                    .project-image-gradient
                    svg.project-image-background
                        use(xlink:href='img/svg/about-us/project/overlay.svg#pic')
                .project-card__content 
                    h3.project-card__topic Smart Home Installation
                    .project-card__description In Muarakana Housing Estate
            a(href="#").projects__card
                div(area-hidden="true").project-card-image__backgroung
                    img(src="img/svg/about-us/project/project2.png" alt="background-image").project-card-image__backgroung-image
                    .project-image-gradient
                .project-card__content 
                    h3.project-card__topic Sparklite App
                    .project-card__description Marketplace
            a(href="#").projects__card
                div(area-hidden="true").project-card-image__backgroung
                    img(src="img/svg/about-us/project/project3.png" alt="background-image").project-card-image__backgroung-image
                    .project-image-gradient
                .project-card__content 
                    h3.project-card__topic Car-Rapetition App
                    .project-card__description Board
                