section.project-section
    .projects 
        .projects__header 
            h2.projects__title#projects Our&nbsp;Finished Project
            .projects__description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
        .projects__cards 
            a(href="#").projects__card
                .card__content 
                    h3.card__topic Smart Home Installation
                    .card__description In Muarakana Housing Estate
                div(area-hidden="true").card-image__backgroung
                    img(src="img/svg/about-us/project/project1.png" alt="background-image").card-image__backgroung-image
                    svg.image-background
                        use(xlink:href='img/svg/about-us/project/overlay.svg#pic')
            a(href="#").projects__card
                .card__content 
                    h3.card__topic Sparklite App
                    .card__description Marketplace
                div(area-hidden="true").card-image__backgroung
                    img(src="img/svg/about-us/project/project2.png" alt="background-image").card-image__backgroung-image
                    .image-gradient
            a(href="#").projects__card
                .card__content 
                    h3.card__topic Car-Rapetition App
                    .card__description Board
                div(area-hidden="true").card-image__backgroung
                    img(src="img/svg/about-us/project/project3.png" alt="background-image").card-image__backgroung-image
                    .image-gradient
