header.header.header__location
    a(href="#").clickable-picture.clickable-picture_size_48.header__navigation
        svg.clickable-picture__picture
            use(xlink:href='img/svg/logo/logo.svg#logo')
    button.clickable-picture.header__burger-button.clickable-picture_size_48.header__navigation
        svg.clickable-picture__picture
            use(xlink:href='img/svg/about-us/icons/menu.svg#burger')
