header.header.page-body__header
    a(href="#").clickable-picture.clickable-picture_size_48.header__navigation
        svg.clickable-picture__picture
            use(xlink:href='img/sprites/logo/logo.svg#logo')
    button.clickable-picture.header__burger-button.clickable-picture_size_48.header__navigation
        svg.clickable-picture__picture
            use(xlink:href='img/sprites/icons/menu.svg#burger')
