.menu.menu_disabled
    .menu__grey-overlay 
    .menu__content 
        button.menu__close-button 
            svg.menu__close-icon
                use(xlink:href='img/svg/about-us/icons/close.svg#close') 
        nav.menu__navigation
            .titled-links-list.drop-down
                .titled-links-list__header-container
                    h5.titled-links-list__header About US
                    .icon-rotate
                        svg.menu__arrow-icon
                            use(xlink:href='img/svg/about-us/icons/list-arrow.svg#list-arrow')
                ul.titled-links-list__links-list
                    li.titled-links-list__element 
                        a(href="/#banner").titled-links-list__link About
                    li.titled-links-list__element 
                        a(href="/#capabilities").titled-links-list__link What We Do 
                    li.titled-links-list__element 
                        a(href="/#projects").titled-links-list__link Project
                    li.titled-links-list__element 
                        a(href="/#clients").titled-links-list__link How It Work With Us
            .titled-links-list.drop-down
                .titled-links-list__header-container
                    h5.titled-links-list__header Follow US
                    .icon-rotate
                        svg.menu__arrow-icon
                            use(xlink:href='img/svg/about-us/icons/list-arrow.svg#list-arrow')
                ul.titled-links-list__links-list
                    li.titled-links-list__element 
                        a(href="https://www.instagram.com/").titled-links-list__link Instagram
                    li.titled-links-list__element 
                        a(href="https://ru-ru.facebook.com/").titled-links-list__link Facebook
                    li.titled-links-list__element 
                        a(href="https://ru.linkedin.com").titled-links-list__link Linkedln
                    li.titled-links-list__element 
                        a(href="https://www.youtube.com/").titled-links-list__link Youtube
            .titled-links-list.drop-down
                .titled-links-list__header-container
                    h5.titled-links-list__header Blog
                    .icon-rotate
                        svg.menu__arrow-icon
                            use(xlink:href='img/svg/about-us/icons/list-arrow.svg#list-arrow')
                ul.titled-links-list__links-list
                    li.titled-links-list__element 
                        a(href="/blog.html#search").titled-links-list__link Search 
                    li.titled-links-list__element 
                        a(href="/blog.html#popular").titled-links-list__link Popular Articles
                    li.titled-links-list__element 
                        a(href="/blog.html#all-articles").titled-links-list__link All Articles
            .titled-links-list
                .titled-links-list__header-container
                    h5.titled-links-list__header 
                        a(href="/contact-us.html#contacts").titled-links-list__contact-link Contact US
        