section.clients.footer-background#clients 
    .clients-section    
        .clients-topic 
            h2.clients-topic__title Our&nbsp;Beloved Client
            .clients-topic__deskription Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
        .clients__logos
            .clients__logo
                a(href="https://www.digitalocean.com/").logo__link
                    img(src="/img/svg/about-us/clients/digitalocean.png").logo__image
            .clients__logo
                a(href="https://github.com/").logo__link
                    img(src="/img/svg/about-us/clients/github.png").logo__image
            .clients__logo
                a(href="https://www.google.ru/").logo__link
                    img(src="/img/svg/about-us/clients/google.png").logo__image
            .clients__logo
                a(href="https://www.vk.com/").logo__link
                    img(src="/img/svg/about-us/clients/vk.png").logo__image
            .clients__logo
                a(href="https://www.microsoft.com/").logo__link
                    img(src="/img/svg/about-us/clients/microsoft.png").logo__image
            .clients__logo
                a(href="https://www.mozilla.org/").logo__link
                    img(src="/img/svg/about-us/clients/mozilla.png").logo__image
            .clients__logo
                a(href="https://www.spotify.com/").logo__link
                    img(src="/img/svg/about-us/clients/spotify.png").logo__image
            .clients__logo
                a(href="https://www.youtube.com/").logo__link
                    span.logo__link-text More Client
    include ../footer/footer
