section.small-banner__section 
    .small-banner
        .small-banner__body 
            // Blog Afrianska
            h1.small-banner__title Blog Afrianska
            .small-banner__description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.