extends layouts/default
include helpers/mixins

block variables
	- const title = "About us"

block content
	include ../blocks/modules/header/header
	include ../blocks/modules/banner/banner
	include ../blocks/modules/capabilities/capabilities
	include ../blocks/modules/projects/projects
	include ../blocks/modules/client/client
	include ../blocks/modules/footer/footer

block scripts
	script(src="js/vendor.js")
	script(src="js/main.js")

