section.map-section 
    .map 
        <script type="text/javascript" id="contact-map" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aab86a7e4c69d4bf63dc7eca51bbf158b68202ca7d1cbee53efb4df8153b421f5&amp;width=940&amp;height=480&amp;lang=ru_RU&amp;scroll=true"></script>