section.search-section#search 
    .search 
        svg.search__icon
            use(xlink:href='img/svg/blog/icons/search.svg#search-icon')
        input(type="text" placeholder="Search Artcile").search__input