section.capabilities 
    .capabilities__content
        h2.capabilities__topic#capabilities What we do to help our client grow in digital era,
        .capabilities__cards
            .card.capabilities__card
                .card-image
                    svg.card__image
                        use(xlink:href='img/svg/about-us/capabilities/card1.svg#card1')
                h3.card__topic Make Your business To Be Better Famous In Internet
                .card__description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                a(href="#").card__link 
                    span.link-text Learn more
                    svg.link-image
                        use(xlink:href='img/svg/about-us/icons/arrow.svg#arrow')
            .card.capabilities__card
                .card-image
                    svg.card__image
                        use(xlink:href='img/svg/about-us/capabilities/card2.svg#card2')
                h3.card__topic Bring Technology To Your Comfrotable Home
                .card__description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                a(href="#").card__link 
                    span.link-text Learn more
                    svg.link-image
                        use(xlink:href='img/svg/about-us/icons/arrow.svg#arrow')
            .card.capabilities__card
                .card-image
                    svg.card__image
                        use(xlink:href='img/svg/about-us/capabilities/card3.svg#card3')
                h3.card__topic Build Your Digital Product That Suitable For Your Need
                .card__description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                a(href="#").card__link 
                    span.link-text Learn more
                    svg.link-image
                        use(xlink:href='img/svg/about-us/icons/arrow.svg#arrow')