footer.footer
    .footer-section 
        .title-button
            h3.title-button__title Intersted to work with our team?
            .title-button__description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
            button.title-button__button
                span.title-button__button-text Let`s Talk
    hr.separator
    .footer-section 
        .company-information 
            .company-information__short-information  
                .company-information__logo
                    svg.company-logo 
                        use(xlink:href='img/svg/logo/logo-light.svg#logo-light')
                    span.company-name Afrianska
                ul.company-information__contact
                    li.contact-element  
                        span.contact-element__marker A.
                        span.contact-element__text Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    li.contact-element  
                        span.contact-element__marker T.
                        span.contact-element__text +62-812-7313-4321
                    li.contact-element  
                        span.contact-element__marker E.
                        span.contact-element__text hello.afrian@gmail.com
            .company-information__about-us
                .titled-links-list__header-container
                    h5.titled-links-list__header About US
                ul.titled-links-list__links-list 
                    li.titled-links-list__element-list
                        a(href="#banner").link About 
                    li.titled-links-list__element-list
                        a(href="#capabilities").link What We Do 
                    li.titled-links-list__element-list
                        a(href="#project").link Project 
                    li.titled-links-list__element-list
                        a(href="#client").link How It Work With Us
            .company-information__follow-us
                .titled-links-list__header-container
                    h5.titled-links-list__header Follow US
                ul.titled-links-list__links-list 
                    li.titled-links-list__element-list
                        a(href="https://www.instagram.com/").link Instagram 
                    li.titled-links-list__element-list
                        a(href="https://ru-ru.facebook.com/").link Facebook 
                    li.titled-links-list__element-list
                        a(href="https://ru.linkedin.com").link Project 
                    li.titled-links-list__element-list
                        a(href="https://www.youtube.com/").link Youtube
    .footer-section 
        .copyright 
            span.copyright-text 2019 В© Afrianska. All rights reserved.        