@font-face {
    font-family: Gilroy;
    src: url('../fonts/Gilroy/Gilroy-Regular.woff') format('woff');
}

@font-face {
    font-family: Galien;
    src: url('../fonts/Galien/Galien-Regular.woff') format('woff');
}